<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
 
<p>
<%= image_tag(@product.picture) if @product.picture.attached? %>
</p>

<p>
  by <%= @user %>
</p>

<% if current_user && @user_id == @product.user_id%>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Buy', new_product_transaction_path(@product), class: "btn btn-primary" %>
<% end %>


<%= link_to 'Back', products_path, class: "btn btn-primary" %>